numpy==1.25.2
cython==0.29.37
pandas==1.3.5
opencv-python==4.7.0.72
numba==0.58.1
scikit-image==0.22.0
scikit-learn==1.3.2
scikit-learn-extra==0.3.0
imageio_ffmpeg==0.4.9
tqdm==4.66.1
seaborn==0.13.0
six==1.16.0
natsort==8.4.0
